/* USRBG BETTERDISCORD DATABASE*/
/* #000 = UNKNOWN DISCRIMINATOR */
.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*Tropical#4104*/
[user_by_bdfdb*="254362351170617345"] {
	--user-background: url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}

/*DarkMatter#0712*/
[user_by_bdfdb*="200612445373464576"]{
	--user-background: url(https://i.imgur.com/YVFABdA.gif);
}

/*Astolfo#1579*/
[user_by_bdfdb*="476641014841475084"]{
	--user-background: url("https://cdn.discordapp.com/attachments/539283976917876737/660610167628627979/download_1.jpg");
}

/*Callfo#1942*/
[user_by_bdfdb*="253976488985100298"]{
	--user-popout-position:right !important;
	--user-background: url("https://cdn.discordapp.com/attachments/662991936487030805/663037000353447967/IMG_20200104_161142.jpg");
}

/*Alexc291#8386*/
[user_by_bdfdb*="220252551730167809"]{
	--user-background: url("https://cdn.discordapp.com/attachments/660450000983031854/660629457089986570/Merlin.Fate.stay.night.full.2234951.png");
}

/*Scarlett Rose#2501*/
[user_by_bdfdb*="489163497389686787"]{
	--user-background: url("https://media1.tenor.com/images/94f0653d30bd368e5dfe492f0f60e01e/tenor.gif");
}

/*IHaveCleanToes#2558*/
[user_by_bdfdb*="222004290926018560"]{
	--user-background: url("https://cdn.discordapp.com/attachments/378587236326703105/661346706075680788/6316194-the_witcher_3_wild_hunt_geralt_of_rivia_render_by_immortalman1-d8imzak.png");
}

/*Dorystoes#3379*/
[user_by_bdfdb*="430520245288173568"]{
	--user-background: url("https://cdn.discordapp.com/attachments/532250648679284739/662475878852329487/8c77e07.jpg");
}

/*NoxLupus#0249*/
[user_by_bdfdb*="203797203590971403"]{
	--user-popout-position:right !important;
	--user-background: url("https://cdn.discordapp.com/attachments/591633240289312771/662478362081624114/5RXEfuz.jpg");
}

/*Locus#8971*/
[user_by_bdfdb*="455542757008736260"]{
	--user-background: url("https://i.imgur.com/mjD4EYJ.png");
}

/*IPVTPLAYER#5876*/
[user_by_bdfdb*="254228865612906496"]{
	--user-background: url("https://media1.tenor.com/images/7231d7acf67b240a393dfae2185e6284/tenor.gif");
}
